*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-image: url(../img/default-pattern.png);
  height: 100%;
  width: 1000px;
  margin: 20px auto;

}

.box-superiore {

  height: 300px;
  background-image: url(../img/default-header.jpg);
  padding: 12px;
  border:15px solid white;
  margin-top:  10px;
  position: relative;
}
.titolo {
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 75px;
}
.sottotitolo {
  text-transform: uppercase;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightgrey;
  font-family: 'Josefin Sans', sans-serif;
}

.colonna-sinistra {
  margin-top: 2%;
  width: 20%;
  height: 100vh;
  background-color: red;
  float: left;
}
.colonna-centrale {
  width: 56%;
  margin:2%;
  height: 200px;
  background-color: yellow;
  float: left;
}
.colonna-destra {
  margin-top: 2%;
  width: 20%;

  background-color: red;
  float: left;
}
.colonne:after{
  content: "";
  display: table;
  clear: both;
}
.modulo{
  background-color: pink;
  margin: 20px;
  height: 300px;

}

footer{

  margin: 2%;
  height: 100px;
  background-color: grey;
}

.logo{
  display: inline-block;
  background-color: blue;
  width: 33%;
  height: 100%;
}
